.gallery .container {
  padding-top: 30px;
  padding-bottom: 46px;

  @include vp-1199 {
    padding-bottom: 39px;
  }

  @include vp-767 {
    padding-top: 8px;
    padding-bottom: 15px;
  }
}

.gallery .swiper {
  max-width: 1920px;
  overflow: hidden;
}

.gallery h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  position: relative;
  margin-bottom: 22px;

  @include font-background('Фотогалерея');

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
  }
}

.gallery__inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: end;
    gap: 15px;
  }
}

.gallery p {
  color: $color-default-elephant;
  font-size: 16px;
  line-height: 24px;
  max-width: 693px;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
    max-width: 385px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}

.gallery__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gallery__buttons button {
  display: flex;

  svg {
    color: $color-navy-blue;
    fill: $color-default-white;
    transition: all 0.1s ease-in-out;
  }
}

.gallery__buttons button:hover {
  outline: 1px $color-active solid;
  svg {
    color: $color-default-white;
    fill: $color-active;
  }
}

.gallery__buttons button:focus {
  outline: 1px $color-active solid;
  svg {
    color: $color-default-white;
    fill: $color-active;
  }
}

.gallery__buttons button:active {
  svg {
    color: $color-active;
    fill: $color-default-white;
  }
}

.gallery__next-btn {
  transform: rotateZ(180deg);
}

.gallery .swiper-slide {
  max-width: 275px;
  height: 450px;

  @include vp-1199 {
    height: 448px;
  }

  @include vp-767 {
    height: 258px;
    max-width: 159px;
  }
}

.gallery .slide-even{
  display: flex;
  flex-direction: column;
  min-width: 298px;
  gap: 5px;

  @include vp-767 {
    min-width: 170px;
    gap: 3px;
  }
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
