.btn {
  padding: 10px;
  user-select: none;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
