.btn {
  padding: 10px;
  user-select: none;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background-color: $color-default-white;
    color: $color-default-elephant;
    border: 1px $color-default-elephant solid;
  }

  &:focus {
    outline: none;
    background-color: $color-default-white;
    color: $color-default-elephant;
    border: 1px $color-default-elephant solid;
  }

  &:active {
    background-color: $color-active;
    color: $color-default-white;
    border: 1px $color-default-elephant solid;
  }
}
