.tours {
  position: relative;
}

.tours__back-img {
  position: absolute;
  top: -18px;
  right: 0;
  z-index: -1;

  @include vp-1199 {
    top: -94px;
    right: -308px;
  }

  @include vp-767 {
    right: -154px;
    height: 100%;
    width: 428px;
    object-fit: cover;
    top: 110px;
  }

  @media (max-width: 350px) {
    top: 210px;
  }
}

.tours .container {
  padding-top: 123px;
  padding-bottom: 125px;

  @include vp-1199 {
    padding-top: 83px;
    padding-bottom: 85px;
  }

  @include vp-767 {
    padding-top: 68px;
    padding-bottom: 67px;
  }
}

.tours .swiper {
  overflow: hidden;
  margin-bottom: 53px;

  @include vp-1199 {
    padding: 0 6px;
    max-width: 740px;
  }

  @include vp-767 {
    padding: 0;
    max-width: 420px;
    margin-bottom: 29px;
  }
}

.tours__inner-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;

  button {
    display: flex;
  }

  @include vp-1199 {
    align-items: center;
    margin-bottom: 38px;
  }

  @include vp-767 {
    align-items: self-start;
    margin-bottom: 26px;
  }
}

.tours__inner-wrap h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  position: relative;

  @include font-background('Ближайшие туры');

  &::before {
    width: 550px;
  }

  @include vp-1199 {
    font-size: 25px;
    font-weight: 800;
    line-height: 25px;
    width: auto;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;

    &::before {
      top: -6px;
      width: 256px;
    }
  }
}

.tours__buttons {
  display: flex;
  gap: 5px;
}

.tours__buttons button {
  svg {
    color: $color-navy-blue;
    fill: $color-default-white;
    transition: all 0.1s ease-in-out;
  }
}

.tours__buttons button:hover {
  outline: 1px $color-active solid;
  svg {
    color: $color-default-white;
    fill: $color-active;
  }
}

.tours__buttons button:focus {
  outline: 1px $color-active solid;
  svg {
    color: $color-default-white;
    fill: $color-active;
  }
}

.tours__buttons button:active {
  svg {
    color: $color-active;
    fill: $color-default-white;
  }
}

.tours__inner-wrap button:last-child {
  transform: rotateZ(180deg);
}

.tours__link {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 276px;
  margin: 0 auto;
  transition: color 0.1s ease;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
    gap: 10px;
  }

  &:hover {
    color: $color-active;
    svg {
      color: $color-active;
    }
  }

  &:focus {
    outline: none;
    color: $color-active;
    svg {
      color: $color-active;
    }
  }

  &:active {
    color: $color-navy-blue;
    svg {
      color: $color-navy-blue;
    }
  }
}
