.bar {
  display: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  order: -1;
  padding: 3px 0;
  position: relative;

  @include vp-1199 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.bar__row {
  width: 100%;
  height: 0.15rem;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  z-index: -1;
}

.bar__row-2 {
  width: 17px;
  top: 11px;
}

.bar__row-3 {
  bottom: 5px;
}
