.header.is-active {
  height: 338px;

  &::before {
    content: '';
  }

  .nav {
    display: block;
  }

  .nav__link {
    color: $color-default-elephant;

    &:hover {
      &::before {
        background-color: $color-default-elephant;
      }
    }

    &:focus {
      outline: 1px $color-default-elephant solid;
    }

    &:active {
      &::before {
        background-color: transparent;
      }
    }
  }

  .bar__row {
    background-color: $color-default-elephant;
    top: 11px;
    transform: rotateZ(-45deg);
  }

  .bar__row-2 {
    display: none;
  }

  .bar__row-3 {
    top: 11px;
    transform: rotateZ(45deg);
  }

  .header__phone {
    color: $color-default-elephant;
  }
}

.wrapper.is-active main {
  &::before {
    content: "";
  }
}

.wrapper.is-active > .inner-wrap {
  height: 0;
}

.wrapper.is-active > .container {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
