.header.is-active {
  .nav {
    display: block;
  }

  .nav__link {
    color: $color-default-elephant;

    &:hover {
      &::before {
        background-color: $color-default-elephant;
      }
    }

    &:focus {
      outline: 1px $color-default-elephant solid;
    }

    &:active {
      &::before {
        background-color: transparent;
      }
    }
  }

  .bar__row {
    background-color: $color-default-elephant;
    top: 11px;
    transform: rotateZ(-45deg);
  }

  .bar__row-2 {
    display: none;
  }

  .bar__row-3 {
    top: 11px;
    transform: rotateZ(45deg);
  }

  .header__phone {
    color: $color-default-elephant;
  }
}

.entry.is-active .entry__slide {
  &::after {
    content: "";
  }
}
