@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin font-background($text) {
  &::before {
    content: $text;
    left: 0;
    bottom: 0;
    position: absolute;
    font-size: 55px;
    font-style: normal;
    font-family: $ff-montserrat;
    font-weight: 800;
    line-height: 55px;
    color: $color-default-elephant;
    opacity: 0.03;
    z-index: -1;
  }

  @include vp-1199 {
    &::before {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-767 {
    &::before {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

// Desktop first


@mixin vp-1440 {
  @media (max-width: ($vp-1440)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}


@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}
