.about .container {
  display: flex;
  justify-content: flex-end;
  padding-top: 65px;
  position: relative;
  padding-bottom: 100px;

  @include vp-1199 {
    padding-top: 0;
    padding-bottom: 68px;
  }

  @include vp-767 {
    padding-top: 375px;
    padding-bottom: 62px;
  }
}

.about img {
  position: absolute;
  left: 0;
  z-index: -1;
  top: 30px;
  width: 56.11vw;
  max-width: 808px;

  @include vp-1199 {
    width: 475px;
    top: 7px;
  }

  @include vp-767 {
    width: 473px;
    top: -74px;
    left: -42px;
  }
}

.about h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin-bottom: 30px;
  position: relative;

  @include font-background('О нас');

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 7px;

    &::before {
      width: 80px;
    }
  }
}

.about__wrap {
  width: 40.63vw;
  display: flex;
  flex-direction: column;
  gap: 26px;

  @include vp-1199 {
    width: 42.19vw;
  }

  @include vp-767 {
    width: auto;
  }
}

.about__inner-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-history {
  margin-bottom: 6px;

  @include vp-1199 {
    margin-bottom: 3px;
  }

  @include vp-767 {
    margin-bottom: 18px;
  }
}

.about__inner-wrap h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.about__inner-wrap p {
  font-size: 14px;
  line-height: 22px;
  color: $color-default-elephant;

  @include vp-767 {
    line-height: 20px;
  }
}
