.trainer {
  max-width: 278px;
  height: 377px;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.10);
  position: relative;

  @include vp-1199 {
    width: 206px;
    height: 411px;
  }

  @include vp-767 {
    min-width: 290px;
    height: 386px;
  }
}

.trainer__wrap {
  padding: 20px;

  @include vp-1199 {
    padding: 15px;
  }

  @include vp-767 {
    padding: 20px;
  }
}

.trainer__wrap img {
  @include vp-1199 {
    height: 212px;
    object-fit: cover;
    object-position: -44px;
  }

  @include vp-767 {
    width: 100%;
    object-position: 0;
  }
}

.trainer__wrap > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    line-height: 18px;
  }
}

.trainer__top-info {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 13px;
  align-items: center;

  @include vp-767 {
    padding-right: 12px;
  }
}

.trainer__top-info p {
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
}

.trainer__top-info a {
  display: flex;
}

.trainer__top-info a:hover {
  rect {
    stroke: #000000;
    stroke-opacity: 1;
  }
}

.trainer__top-info a:focus {
  outline: none;
  rect {
    stroke: #000000;
    stroke-opacity: 1;
  }
}

.trainer__top-info a:active {
  svg {
    fill: $color-navy-blue;
  }

  rect {
    stroke: $color-navy-blue;
    stroke-opacity: 1;
  }

  path {
    fill: white;
  }
}
